In [6]:
import pandas as pd
from bs4 import BeautifulSoup
import json
import csv
import numpy as np

In [7]:


df = pd.read_csv('data_20230301.csv', error_bad_lines=False)

# trim whitespace from all cells
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
# df.insert(1, 'gender', 'female')
df.replace('', np.nan, inplace=True)
df['attributes'] = df['attributes'].fillna('NA')
df['desc'] = df['desc'].fillna('NA')
df.dropna(subset=['colour', 'price', 'category'], how='all', inplace=True)
df

df.to_csv('Women_Boohoo_UK_processed2.csv', index=False)

/var/folders/c7/9svjb46d4l14sh2yf88h65bh0000gn/T/ipykernel_38826/1303755579.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('data_20230301.csv', error_bad_lines=False)

In [8]:
df.describe()

,url,name,attributes,colour,price,category,desc
count,8014,7911,8014,8005,8002,8014,8014
unique,8012,7087,1826,199,129,156,773
top,https://www.boohoo.com/petite-cheesecloth-off-...,Oversized Checked Shirt,NA,black,£18.75,DRESSES,Bring a new kinda attitude in this latest piec...
freq,2,10,1146,2316,873,2142,360

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8014 entries, 0 to 8033
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   url         8014 non-null   object
 1   name        7911 non-null   object
 2   attributes  8014 non-null   object
 3   colour      8005 non-null   object
 4   price       8002 non-null   object
 5   category    8014 non-null   object
 6   desc        8014 non-null   object
dtypes: object(7)
memory usage: 500.9+ KB

In [10]:
cell_lengths = df['colour'].str.len()

# Get the length of the longest cell in the 'col1' column
max_length = cell_lengths.max()

print(max_length)

20.0