In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import json
import csv
import numpy as np

In [5]:


df = pd.read_csv('Women_s_Black_Crew_Neck_Basic_Cotton_Tshirt _ Boohoo_UK.csv', error_bad_lines=False)

# trim whitespace from all cells
# df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
# df.insert(1, 'gender', 'female')
df.replace('', np.nan, inplace=True)
df['attributes'] = df['attributes'].fillna('NA')
df['desc'] = df['desc'].fillna('NA')
df.dropna(subset=['colour', 'price', 'category'], how='all', inplace=True)
df

df.to_csv('Women_s_Black_Crew_Neck_Basic_Cotton_Tshirt _ Boohoo_UK_processed.csv', index=False)

/var/folders/c7/9svjb46d4l14sh2yf88h65bh0000gn/T/ipykernel_47207/228800613.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('Women_s_Black_Crew_Neck_Basic_Cotton_Tshirt _ Boohoo_UK.csv', error_bad_lines=False)

In [3]:
df.describe()

,name,gender,attributes,colour,price,category,desc
count,1802,1802,1802,1802,1802,1801,1802
unique,1636,1,375,146,50,111,334
top,Petite Woven Long Sleeve Shirt,female,NA,black,£15.00,DRESSES,Introducing your new fave top from our latest ...
freq,5,1802,521,433,224,172,128

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1802 entries, 0 to 1816
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        1802 non-null   object
 1   gender      1802 non-null   object
 2   attributes  1802 non-null   object
 3   colour      1802 non-null   object
 4   price       1802 non-null   object
 5   category    1801 non-null   object
 6   desc        1802 non-null   object
dtypes: object(7)
memory usage: 112.6+ KB

In [16]:
cell_lengths = df['colour'].str.len()

# Get the length of the longest cell in the 'col1' column
max_length = cell_lengths.max()

print(max_length)

94