In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import json
import csv
import numpy as np

In [13]:


df = pd.read_csv('raw_data_1.csv', error_bad_lines=False)

# trim whitespace from all cells
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df = df.dropna(subset=['desc'])
df = df.dropna(subset=['name'])
df.insert(1, 'gender', 'female')
df.replace('', np.nan, inplace=True)

df['attributes'] = df['attributes'].fillna('NA')
df['desc'] = df['desc'].fillna('NA')
df.dropna(subset=['colour', 'price', 'category'], how='all', inplace=True)
df

/var/folders/c7/9svjb46d4l14sh2yf88h65bh0000gn/T/ipykernel_94717/2493980126.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('raw_data_1.csv', error_bad_lines=False)

AttributeError: 'float' object has no attribute 'replace'

In [ ]:
df.to_csv('Women_Boohoo_UK_processed2.csv', index=False)

In [11]:
df.describe()

,name,gender,attributes,colour,price,category,desc
count,7858,7858,7858,7858,7855,7858,7858
unique,7043,1,1822,198,128,156,772
top,Oversized Checked Shirt,female,NA,black,¬£18.75,DRESSES,Bring a new kinda attitude in this latest piec...
freq,10,7858,995,2268,872,2142,360

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        0 non-null      object
 1   gender      0 non-null      object
 2   attributes  0 non-null      object
 3   colour      0 non-null      object
 4   price       0 non-null      object
 5   category    0 non-null      object
 6   desc        0 non-null      float64
dtypes: float64(1), object(6)
memory usage: 0.0+ bytes

In [7]:
cell_lengths = df['colour'].str.len()

# Get the length of the longest cell in the 'col1' column
max_length = cell_lengths.max()

print(max_length)

nan