In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('Women_Boohoo_UK_processed.csv',encoding='latin1')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9660 entries, 0 to 9659
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        9660 non-null   object
 1   gender      9660 non-null   object
 2   attributes  8144 non-null   object
 3   colour      9660 non-null   object
 4   price       9657 non-null   object
 5   category    9659 non-null   object
 6   desc        9658 non-null   object
dtypes: object(7)
memory usage: 528.4+ KB

In [5]:
data = data.drop_duplicates()

,name,gender,attributes,colour,price,category,desc
0,High Waisted Disco Denim Shorts,female,"66% cotton, 24% polyester, 8% viscose, 2% elas...",mid wash,£12.00,SHORTS,A classic wardrobe staple which no clothing co...
1,Black Crew Neck Basic Cotton Tshirt,female,100% COTTON. MACHINE WASHABLE. MODEL WEARS A U...,black,£6.00,PLAIN T SHIRTS,If youâre going for a top-to-bottom wardrobe...
2,Faux Leather Trucker Jacket,female,100% Polyester,black,£45.00,COATS & JACKETS,Hit refresh on your casual wardrobe with a ver...
3,Cropped Slouchy Hoodie,female,NaN,lime,£20.00,CROPPED HOODIES,A seriously comfy addition to your new-season ...
4,Pinstripe Tie Waist Fitted Tailored Blazer,female,Main: 100% Polyester Lining: 100% Polyester. W...,black,£35.00,COATS & JACKETS,"A menswear classic with a feminine edge, add a..."
...,...,...,...,...,...,...,...
9655,Cotton Plunge Maxi Dress,female,100% Cotton. Model wears size 10. Machine wash...,lilac,£15.00,DRESSES,Serving body confidence? Then a plunge dress i...
9656,Plus Satin Floral Drape Wrap Shirt Dress,female,95% Polyester 5% Elastane. Machine Wash. Model...,green,£24.00,PLUS SIZE DRESSES,Bring a new kinda attitude in this latest piec...
9657,Plus Puff Sleeve Floral Sun Dress,female,100% Polyester. Machine wash. Model wears UK s...,pink,£18.75,PLUS SIZE DRESSES,Capture your everyday style with this plus siz...
9658,Boutique Lace Skater Bridesmaid Dress,female,NaN,black,£37.50,DRESSES,Calling all members of the bride squad: your d...
9659,Oversized Dipped Hem Shirt Dress,female,100% Polyester. Machine wash. Model wears UK s...,khaki,£18.75,DRESSES,Nail your casuals this season with this shirt ...

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9660 entries, 0 to 9659
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        9660 non-null   object
 1   gender      9660 non-null   object
 2   attributes  8144 non-null   object
 3   colour      9660 non-null   object
 4   price       9657 non-null   object
 5   category    9659 non-null   object
 6   desc        9658 non-null   object
dtypes: object(7)
memory usage: 528.4+ KB